html, body{
    height: 100%;
    width:100%;
    margin: 0;
    padding: 0;
    background: #ff7e00;
}

.container{
    max-width: 320px;
    margin: 20px auto;
    padding: 20px;
    background: linear-gradient(145deg, #cfd9df, #e2ebf0);
    border-radius: 20px;
    box-shadow: inset 0 0 30px rgba(255, 255, 255, 0.5),
                0 0 40px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.4);
}


.bg{
    background: linear-gradient(145deg, rgba(255, 255, 255, 0.3), rgba(200, 200, 200, 0.1));
    border-radius: 12px;
    padding: 20px;
    box-shadow: inset 0 0 25px rgba(255, 255, 255, 0.4),
                0 0 25px rgba(0, 0, 0, 0.3);
}

.row
{
    margin: 8px 0

}

.button{
       width: 66px;
    padding: 20px;
    margin: 0 3px;
    background: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 9px;
    cursor: pointer;
    font-size: 17px;
    color: white;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.2),
                0 0 15px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
}

.button:hover{
    color: black;
    background: #ff4500;
    box-shadow: 0 0 35px orange;
}

.row input{
    width: 291px;
    font-size: 20px;
    margin: 0;
    padding: 10px 0px;
    padding-left: 10px;
    border: 2px solid black;
    border-radius: 5px;
    background: #ffcba4;
    backdrop-filter: blur(4px);
    
  
}
